.CellComponent {
  top: -200px;
  animation: drop 0.5s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;

  @keyframes drop {

    0% {

      opacity: 0;

    }

    50% {
      transform: translateY(200px);
      opacity: .5;
    }

    70% {
      transform: translateY(180px);
      opacity: 1
    }

    100% {
      transform: translateY(200px);
      opacity: 1
    }
  }
}

.CellComponent img {
  display: flex;
  align-self: center;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.unavailable {
  background: sandybrown;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.standard {
  background: sandybrown;
}

.left {
  position: absolute;
  bottom: 0;
  right: 0;
  color: red;
  font-size: 3vmax;
}
.soled {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}