
.ShelfComponent {
  margin-top: 7%;
  padding: 1%;
  display: flex;
  justify-content: space-around;

  > * {
    position: relative;
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 320px) {
  .ShelfComponent {
    > * {
      width: 10vmax;
      height: 10vmax;
    }
  }
}

@media screen and (min-width: 500px) {
  .ShelfComponent {
    > * {
      width: 11vmax;
      height: 11vmax;
    }
  }
}

@media screen and (min-width: 600px) {
  .ShelfComponent {
    > * {
      width: 12vmax;
      height: 12vmax;
    }
  }
}

@media screen and (min-width: 700px) {
  .ShelfComponent {
    > * {
      width: 13vmax;
      height: 13vmax;
    }
  }
}

@media screen and (min-width: 1000px) {
  .ShelfComponent {
    margin-top: 0;

    > * {
      width: 120px;
      height: 120px;
    }
  }
}

@media screen and (min-width: 1600px){
  .ShelfComponent {
    margin-top: 0.5%;
    > * {
      width: 150px;
      height: 150px;
    }
  }
}

@media screen and (min-width: 2000px) and (min-height: 1400px) {
  .ShelfComponent {
    > * {
      width: 12vmax;
      height: 12vmax;
    }
  }
}

@media screen and (min-width: 3000px) {
  .ShelfComponent {
    > * {
      width: 9vmax;
      height: 9vmax;
    }
  }
}

.boxShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}